<header>
<!--- Navbar --->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="https://www.boeglin.me">BOEGLIN.me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nvbCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pl-1">
          <a class="nav-link" href="https://www.boeglin.me/portfolio"><i class="fas fa-file fa-fw mr-1"></i>Portfolio / CV</a>
        </li>
        <li class="nav-item active pl-1">
          <a class="nav-link" href="https://blog.boeglin.me/"><i class="fas fa-newspaper fa-fw mr-1"></i>Blog</a>
        </li>
        <li class="nav-item pl-1">
          <a class="nav-link" href="https://www.linkedin.com/in/thomas-boeglin/" target="_blank"><i class="fab fa-linkedin-in fa-fw mr-1"></i>LinkedIn</a>
        </li>
        <li class="nav-item pl-1">
          <a class="nav-link" href="https://github.com/Kractucs" target="_blank"><i class="fab fa-github-alt fa-fw mr-1"></i>Github</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--# Navbar #-->
</header>