/* global settings */

body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: #DAE3E7;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #778492;
}

.badge-theme {
  margin-left: 5px;
  background-color: #0367a6;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* ======= Header ======= */

.navbar{
  border-top: 10px solid #778492;
}
.navbar-brand{
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand{
  color: #0367a6;
  transition: all 0.2s ease-in-out;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
  color: #008997;
}
.navbar-light .navbar-nav .nav-link{
  color: #0367a6;
  transition: all 0.2s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #008997;
}
.navbar-light .navbar-nav .active>.nav-link{
  color:#008997;
  font-weight: bold;
}


/* ======= Blog_header ======= */

.jumbotron{
  background: linear-gradient(60deg, #0367a6, #02789f 50%, #008997);
  color: white;
  min-height: 300px;
  display: flex;
  align-items: center;
}
.jumbotron h1{
  color: white;
}
.jumbotron small {
  color: #a1aab4;
}

/* ======= Sections ======= */
.primary .section {
  margin-bottom: 30px;
}
.primary .section .content p{
  font-size: small;
}

.primary .section .section-inner {
  background: #fff;
  padding: 30px;
  min-height: 250px;
}

.primary .section .heading {
  margin-top: 0;
  margin-bottom: 5px;
  color: #545e69;
  font-size: 24px;
}

.primary .section .infos{
  display: inline-flex;
}
.primary .section .infos p{
  margin-right: 15px;
}
.imgcontainer{
  float: left;
  margin-right: 10px;
  max-width: 130px;
  max-height: 130px;
}
.excerpt{
  text-align: justify;
}

.primary .section a {
  color: #0367a6;
  transition: all 0.2s ease-in-out;
}

.primary .section a:hover {
  text-decoration: underline;
  color: #5f6b77;
  color: #008997;
}

/* ======= Aside ======= */
.secondary .section {
  margin-bottom: 30px;
}

.secondary .section .section-inner {
  background: #fff;
  padding: 30px;
}
.secondary .section a {
  color: #0367a6;
  transition: all 0.2s ease-in-out;
}
.secondary .section a:hover {
  text-decoration: underline;
  color: #5f6b77;
  color: #008997;
}



/* ======= Posts ======= */

.post {
  margin-top: 30px;
  margin-bottom: 30px;
}
.post .post-inner {
  background: #fff;
  padding: 30px;
}

.post a {
  color: #0367a6;
  transition: all 0.2s ease-in-out;
}

.post a:hover {
  text-decoration: underline;
  color: #5f6b77;
  color: #008997;
}

/* ======= Footer ======= */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
}

.footer small {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}



@media (min-width: 1400px) {
  .container {
    width: 1360px;
    max-width: inherit;
  }
}

/* ======= Tags ======= */

.tags a {
  color: #0367a6;
  transition: all 0.2s ease-in-out;
}

.tags a:hover {
  text-decoration: underline;
  color: #5f6b77;
  color: #008997;
}